/* Add here all your css styles (customizations) */

@media (max-width: 768px) {
	.tp-caption.NotGeneric-Title.LargeTitle {
		display: none;
	}
}

@media (min-width: 769px) {
	.tp-caption.NotGeneric-Title.SmallTitle {
		display: none;
	}
}

@media(min-width: 992px) {
    .one-page-header.navbar {
		padding: 3px 0;
	}
}

.testimonials-bs .carousel-control-v2 i:hover {
  color: #e74c3c;
  border-color: #e74c3c;
}